@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  overflow-x: hidden;
}

.nav-db-control{
  height: 50%;
  width: 50%;
}